h1 {
  text-align: center;
  color: red;
  font-weight: normal;
}
.first-h2 {
  text-align: center;
  color: red;
  font-weight: normal;
}
.what-to-find {
  text-align: center;
  color: red;
  font-weight: normal;
}

.first-p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
  color: blue;
}

.second-p {
  font-family: "Courier New", Courier, monospace;
  color: green;
  font-weight: normal;
}
#about-p {
  font-weight: normal;
  font-size: 25px;
  color: blue;
}

#cat-pics-link {
  color: black;
  font-weight: bolder;
}

img {
  width: 500px;
}
#about-me {
  font-weight: normal;
  color: red;
}
